+++
layout = "base.tmpl"
+++
{{ define "content" }}
<div class="content">
	<h3>Colors:</h3>
	<div class="colors">
		<div class="circle primary"></div>
		<div class="circle secondary"></div>
		<div class="circle dark"></div>
	</div>
</div>
{{ end }}
