+++
layout = "base.tmpl"
+++
{{ define "content" }}
<aside id="sidebar">
	
</aside>
<article id="content">
<h1>Recent Posts</h1>
<ul>
	{{range Posts 5}}
		<li>
			<a href="{{.Url}}">{{.Title}}</a>
		</li>
	{{end}}
</ul>
</article>
{{ end }}